*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* MENSAJE DE INICIO DE SESIÓN DEL USUARIO*/
.reservar{
    width: 100px;
    background: rgb(197, 223, 226);
    text-align: center;
    position: absolute;
    padding: 35px;
    top: 40%;
    right: 43%;
    border-radius: 50px;
    display: none;
    border: 3px solid #fff;
}
.reservar p{
    color: #000;
    margin: 20px;
}
.reservar a{
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 5px;
    padding: 5px;
}
.main{
    padding-top: 80px;
}
.menu a:hover{
    color: black;
    background: #ffffff;
    border-radius: 5px;
}
.menu #aqui{
    color: rgb(0, 0, 0);
    background:	#ffffff;
    border-radius: 5px;
    padding: 2px 2px;
}

/* ENCABEZADO DE LA PÁGINA*/
.container{
    width: 100%; 
    height: 70px;
    background: #131313; ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    position: fixed;
}
.container a>img{
    width: 13%;
    margin-left: 15px;
}
.menu{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu a{
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5px 5px;
    margin: 0px 5px;
}
.menu1 p{
    display: block;
    color: #fff;
    translate: -450px;
   
}

/*NOMBRE DE USUARIO Y BOTÓN DE CERRAR SESIÓN*/
.admin{
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    align-items: center;
    justify-content: center;
}
.admin p{
    color: #fff;
    font-size: 20px;
    margin: 0px 18px;
}

#ubi{
    color: #fff;
    background: #2d72cc;
    border-radius: 5px;
    padding: 2px 2px;
}
.admin a>img{
    width: 30px;
    margin: 0px 18px;
}

.menu-vis{
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}
.menu-vis a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5px 5px;
    margin: 0px 5px;
}

/* INICIO DE SESIÓN DEL USUARIO*/

.login-reg{
    width: 65%;
    margin-right: 10px;
}
.login-r{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-r input{
    flex-wrap: wrap;
    width: 35%;
    height: 25px;
    background: #ffffff;
    border: none;
    margin: 0px 5px;
    border-radius: 3px;
}

.login-reg input[type="button"]{
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 110%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background:  rgb(149, 225, 235);
    border: none;
    border-radius: 2px;
    cursor: pointer;
 
}

.login-r #ing{
    width: 100%;
}
.login-reg p{
    margin-top: 8px;
    margin-left: 50px;
    font-size: 15px;
    color: #fff;
}
.login-reg a{
    margin-left: 5px;
    padding:5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background:  rgb(149, 225, 235);
    border: none;
    border-radius: 2px;
}

/* */
/*FONDO PANTALLA*/

.home{
    width: 100%;
    height: 750px;
    background-image: url(../img/HOMER.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.principal{
    padding-top: 90px;
    width: 90%;
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.principal h1{
    margin: 5px;
    font-size: 35px;
    text-align: left;
    width: 100%;
    color:  #fff;;
}
.principal p{
    font-size: 20px;
    width: 100%;
    color:  #fff;;
    text-align: left;
}
.section{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section img{
    width: 360px;
    height: 220px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}
.botonex{
    margin: 20px;
    width: 100%;
    text-align: center;
}
.botonex a{
    padding: 10px 20px;
    font-size: 30px;
    text-decoration: none;
    background: #fff ;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* METODO DE PAGO---- */
.metodo{
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
}

.cont{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 70%;
    height: 600px;
    margin: 40px;
    text-align: center;
}
.title{
    width: 100%;
    height: 50px;
    background: #2d72cc;
    border-radius: 10px;
    margin: 30px 0px;
}
.title h2{
    color: #fff;
    margin: 5px;
    text-align: left;
    font-size: 35px;
    margin-left: 15px;
}
.paypal{
    display: flex;   
    flex-flow: wrap;
    justify-content: center;
    margin: 0px 0px;
    width: 40%;
    height: 390px;
    padding: 9px;
}
.paypal img{
    width: 95%;
    height: 110px;
}
.paypal-ingreso{
    width: 70%;
}
.user{
    margin: 15px;
    font-size: 10px;
}
.user h3{
    color: #000;
    text-align: left;
}
.paypal-ingreso input{
    margin-top: 3px;
    height: 25px;
    width: 100%;
    border: 2px solid #2f74cfc7;
    border-radius: 10px;
    font-size: 15px;
}
.paypal #ing{
    text-align: center;
    width: 45%;
    height: 35px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*PERFIL*/

.perfil{
    width: 70%;
    height: 533px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 200px;
    
}
.datos{
    width: 45%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.datosusu{
    width: 90%;
    height: 50px;
    padding: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
}
.datosusu strong{
    text-align: 15px;
    width: 35%;
}
.datosusu p{
    width: 60%;
    
    text-align: 10px;
    margin: 0px 10px;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #2d72cc;
    border-radius: 3px;
}


/* PIE DE PAGINA */

footer{
    background:  #ffffff;
    padding: 50px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contact {
    text-align: center;
    font-size: 25px;
    margin: 0px 0px 50px;
    
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(90, 8, 46);
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #2b44b1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(0, 0, 0);
}

.content-foo img{
    float: left;
    margin-right: 30px;
    
}

.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: rgb(36, 33, 33);
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 ;
    border-radius: 50px;
    background-size: 60px 60px;
    transform: translate(2000%, -320%);
}

