*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}



/* ENCABEZADO DE LA PÁGINA*/
.container{
    width: 100%; 
    height: 70px;
    background: #131313; ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    position: fixed;
}
.container a>img{
    width: 9.5%;
    margin-left: 15px;
    
}

.menu1 p{
    display: block;
    color: #fff;
    translate: -450px;
}
    
/* */
/*FONDO PANTALLA*/

.home{
    width: 100%;
    height: 750px;
    background-image: url(../img/HOMER.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
}

/*REGISTRO*/
.form-register {
    width: 600px;
    height: 640px;
    background: #3b3b3b;
    padding: 10px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  .form-register h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
  }

  .form-register a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    transform: translate(150px, 15px);
  }
  .form-register a:hover {
    color: rgb(255, 0, 0);
  }


.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 40px;
}

.formulario__label {
	width: 60%;
    padding: 10px;
    font-family: 'calibri';
    font-size: 17px;
    color: rgb(255, 255, 255);
  
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
    width: 80%;
    margin-top: 20px;
	background: rgb(216, 211, 211);
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
    font-size: 15px;
    color: red;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

.formulario__btn:hover {
	box-shadow: rgb(245, 205, 205);
}

.formulario__mensaje-exito {
    font-size: 20px;
    font-weight: bold;
	color: #17af02;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
        width: 100%;
	}
}

/* PIE DE PAGINA */

footer{
    background:  #ffffff;
    padding: 50px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contact {
    text-align: center;
    font-size: 25px;
    margin: 0px 0px 50px;
    
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(90, 8, 46);
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #2b44b1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(0, 0, 0);
}

.content-foo img{
    float: left;
    margin-right: 30px;
    
}

.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: rgb(36, 33, 33);
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 ;
    border-radius: 50px;
    background-size: 60px 60px;
    transform: translate(2000%, -320%);
}

/*PERFIL*/

.perfil{
    width: 70%;
    height: 533px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 200px;
    
}
.datos{
    width: 45%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.datosusu{
    width: 90%;
    height: 50px;
    padding: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
}
.datosusu strong{
    text-align: 15px;
    width: 35%;
}
.datosusu p{
    width: 60%;
    
    text-align: 10px;
    margin: 0px 10px;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #2d72cc;
    border-radius: 3px;
}

.admin{
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    align-items: center;
    justify-content: center;
}
.admin p{
    color: #fff;
    font-size: 20px;
    margin: 0px 18px;
}
.unique{
    text-decoration: none;
    color: #fff;
}
.unique:hover{
    color: #000;
    background: #fff;
    border-radius: 5px;
}
#ubi{
    color: #fff;
    background: #2d72cc;
    border-radius: 5px;
    padding: 2px 2px;
}
.admin a>img{
    width: 30px;
    margin: 0px 18px;
}

.menu{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu a{
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5px 5px;
    margin: 0px 5px;
}