*{margin:10;padding:0;box-sizing:border-box;font-size:10;}  
.menu  {
    padding: 7% 15% 0 15%;
    
}
.menu a{
      text-decoration:none;
      color:inherit;
      font-size:16px;
      }
            
      .menu li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 15px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
            
.menu li:hover{
      background-color:#fff;
      color:black;
      }
            
      .menu li>ul{
      display:none;
      }

      .menu li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}


#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

/*
 * LOGO
 */

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
		color: #0b76a6;
}
	
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
}
	
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
}
    
.catalogo {
    padding:5px 15px;
    width: 80%;
    text-align:center;
    padding: 160px 100px;
    border: gray 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 130px;
}
.item{
    padding:5px 15px;
    width: 20%;
    text-align:center;
    padding: 30px 100px;
    border: gray 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 35px;
}
.item{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:220px;
    height:250px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    }
  .item item{
    width: 100%;
  }
  @media all and (min-width: 500px) and (max-width: 1000px)
  {  
  .item{
    margin:20px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:300px;
    height:300px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    
    }
  }
  .item img{
     width:100%;
  }


  .item2{
    padding:5px 15px;
    width: 20%;
    text-align:center;
    padding: 30px 100px;
    border: gray 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 295px;
}
  .item2{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:220px;
    height:250px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    }
  .item2 item2{
    width: 100%;
  }
  @media all and (min-width: 500px) and (max-width: 1000px)
  {  
  .item2{
    margin:20px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:300px;
    height:300px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    
    }
  }
  .item2 img{
     width:100%;
  }

.item3{
    padding:5px 15px;
    width: 20%;
    text-align:center;
    padding: 30px 100px;
    border: gray 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 555px;
}
.item3{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:220px;
    height:250px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    }
  .item3 item3{
    width: 100%;
  }
  @media all and (min-width: 500px) and (max-width: 1000px)
  {  
  .item3{
    margin:20px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:300px;
    height:300px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    
    }
  }
  .item3 img{
     width:100%;
  }


  .item4{
    padding:5px 15px;
    width: 20%;
    text-align:center;
    padding: 30px 100px;
    border: gray 3px solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 815px;
}
.item4{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:220px;
    height:250px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    }
  .item4 item4{
    width: 100%;
  }
  @media all and (min-width: 500px) and (max-width: 1000px)
  {  
  .item4{
    margin:20px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:300px;
    height:300px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    background-size: cover;
    
    }
  }
  .item4 img{
     width:100%;
  }
  .item button{
      width: 90%;
      height: 30px;
  }
  .item2 button{
    width: 90%;
    height: 30px;
}  .item3 button{
    width: 90%;
    height: 30px;
}  .item4 button{
    width: 90%;
    height: 30px;
}



/*
 * NAVEGACIÓN
 */

.barra {
	float: right;
}
.barra ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
    .barra ul li {
			display: inline-block;
			line-height: 80px;
		}
			
        .barra ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
            .barra ul li a:hover {
					background: #0b76a6;
                }

                #main-content {
                    background: white;
                    width: 90%;
                    max-width: 800px;
                    margin: 20px auto;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                }
                
                    #main-content header,
                    #main-content .content {
                        padding: 40px;
                    }
                    #main-footer {
                        background: #333;
                        color: white;
                        text-align: center;
                        padding: 20px;
                        margin-top: 40px;
                    }
                        #main-footer p {
                            margin: 0;
                        }
                        
                        #main-footer a {
                            color: white;
                        }
                        #main-header {
                            background: #333;
                            color: white;
                            height: 80px;
                            
                            width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
                            left: 0; /* Posicionamos la cabecera al lado izquierdo */
                            top: 0; /* Posicionamos la cabecera pegada arriba */
                            position: fixed; /* Hacemos que la cabecera tenga una posición fija */
                        }



/* PIE DE PAGINA */

footer{
  background:  #ffffff;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contact {
  text-align: center;
  color: #000;
  font-size: 25px;
  margin: 0px 0px 50px;
  
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(90, 8, 46);
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #2b44b1;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: rgb(0, 0, 0);
}

.content-foo img{
  float: left;
  margin-right: 30px;
  
}

.titulo-final{
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
  color: rgb(36, 33, 33);
}

.social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 ;
  border-radius: 50px;
  background-size: 60px 60px;
  transform: translate(2000%, -320%);
}





li.active {
    background-color: white;
    color: black;
}

li.active2{
  background-color: #0b76a6;
}

/* MAPA DE UBICACION*/
.mapa{
  position: absolute; bottom: 0; right: 10; width: 100%;
}

.contacto{
  padding:5px 15px;
  width: 80%;
  padding: 16px 10px;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 130px;
  color: #000;

}

.nombre{
  color: #0b76a6;
}



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
 
  
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6186ac;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #b3d9ff;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #6186ac;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.form a:hover {
  color: black;
  text-decoration: underline;
}
.inici{
  color:white
}





/* IMPRIMIR FACTURA*/
.imprimir  {
  padding: 7% 15% 0 15%;
  text-align: center;
  position: absolute;
  top:  380px;
  left: 380px;
}
.imprimir a{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    
    }
          
    .imprimir li{
    display:inline-block;
    width:180px;
    height:40px;
    padding:5px 15px;
    background-color:#333;
    border:1px solid #333;
    text-align:center;
    color:#fff;
    position:relative;
}
          
.imprimir li:hover{
    background-color:#0b76a6;
    color:black;
    border:1px solid #0b76a6;
    }
          
    .imprimir li>ul{
    display:none;
    }

    .imprimir li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
}

.imprimir{
  color:black
}

.tituloFactura{
  padding: 70px;
	width: 40%;
  height: 120px;
  color: #0b76a6;
}

#Factura{
  border-radius: 0px;
  background-color:white;
  color: black;
	border: 1px solid black;
  padding: 9px;
	width: 80%;
  height: auto;
  position: absolute;
  top: 118px;
  left: 120px;
  display: inline-block;
}


.zonaImprimir{
  border-radius: 4px;
  background-color:#69acc9;
  color: black;
	border: 1px solid black;
  padding: 9px;
	width: 9%;
  height: auto;
  position: absolute;
  top: 118px;
  right: -5px;
  display: inline-block;
}

.Impresora{
  width: 70%;
  height: auto;
  right: 1.5%;
  top: 18%;
  float: right;
  position: sticky;
}

.imprimirFactura  {
  text-align: center;
  top:  50%;
  height: auto;
  right: 0px;
  color:black
}

.logoPollo{
  width: 4%;
  height: auto;
  padding: 1px;
  left: 25px;
  float: left;
}

.palabraFactura{
  text-align:right;
  width: 100%;
  font-weight:bold;
  font-size: 20pt;
}

.factura{
  text-align:right;
  width: 95%;
  font-size: 1vw;
  line-height: normal;
  float:right;
}

.nombreLocal{
  float: left;
}

.tablaFactura{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}

th{
  border: 1px solid black;
  font-size: 10pt;
}

td{
  border: 1px solid black;
  text-align: justify;
  font-size: 1vw;
}

/* UBICACION DEL LOCAL*/
.detallesLocal{
  font-size: 1vw;
  line-height: normal;
  height: auto;
  display: inline-block;
}

.detallesCliente{
  height: auto;
  font-size: 1vw;
  line-height: normal;

  display: inline-block;
}

.mod{
  font-weight:bold;
  text-align: right;
}

.mod2{
  text-align: center;
}

.pedido{
  border-radius: 3px;
  background-color:#b7d4f1;
  color: black;
	border: 1px solid black;
  padding: 9px;
	width: 80%;
  height: auto;
  position: absolute;
  top: 118px;
  left: 120px;
  display: inline-block;
}


.notification {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    display: flex;
    height: 62px;
    justify-content: space-between;
    opacity: 0;
    padding-right: 15px;
    position: absolute;
    right: 7px;
    top: 50px;
    visibility: hidden;
    transition: all .4s ease;
    width: 190px;
}


.notification.visible {
  opacity: .8;
  top: 85px;
  visibility: visible;
}

.notification.info {
  background-color: #2980b9;
}

.notification > .text {
  align-items: center;
  color: white;
  cursor: default;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  width: calc(97% - 50px);
  word-wrap: normal;
}

.notification > .close {
  color: rgba(255, 255, 255, .8);
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
  transition: color .3s ease;
  visibility: visible;
}
.notification > .close:hover {
  color: #fff;
}

.cliente{
  color: #69acc9;
}

.admin{
  display: flex;
  flex-wrap: wrap;
  width: 27%;
  align-items: left;
  justify-content: left;
}

.admin a>img{
  width: 30px;
  margin: 0px 18px;
}